---
title: make some space
---

<div class="container">
  <div class="hero"><h1>make some <span class="pad-out-word">space</span></h1></div>
  <div class="footer"><a href="http://absentees.co">@absentees</a></div>
</div>
